.card2 {
  position: relative;
  .text {
    width: full;
    display: flex;
    flex-direction: column;
  }
}

.card2:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 999px;
  border: 8px solid #d946ef;
  transition: all 0.5s ease;
}

.card2.active:after {
  background: #d946ef;
  border-color: #fff;
  scale: 1.5;
}

.card2:nth-child(odd):after {
  left: -18px;
  top: 90px;
}
.card2:nth-child(even):after {
  right: -18px;
  top: 95px;
}

.card2:nth-child(odd) {
  padding: 50px 0 50px 50px;
  .text {
    align-items: flex-start;
  }
}
.card2:nth-child(even) {
  padding: 50px 50px 50px 0;
  .text {
    align-items: flex-end;
  }
}
.card2::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orange;
  transition: all 0.5s ease;
}
.card2.active::before {
  border: solid rgb(32, 34, 126);
}

.card2:nth-child(odd)::before {
  left: 0;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 10px 0 10px 10px;
  border-radius: 40px 0 0 40px;
}
.card2:nth-child(even)::before {
  right: 0;
  top: -5.5px;
  bottom: -5.5px;
  border-width: 10px 10px 10px 0;
  border-radius: 0 40px 40px 0;
}
.card2:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}
.card2:last-child::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 608px) {
  .card2:nth-child(odd) {
    padding: 25px 0 25px 35px;
  }
  .card2:nth-child(even) {
    padding: 25px 35px 25px 0;
  }
}
